*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    height: 100vh;
    color: brown;
    display: grid;
    grid-template-areas:
    "header header header"
    "navbar maincontent rightsidebar"
    "navbar footer footer"
    ;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: 80px 1fr 70px;
}
header,
main,
nav,
aside,
footer{
    background-color: steelblue;
    padding: 20px;
    color: white;
    border: skyblue 1px solid;
}
header{
    grid-area: header;
}
main{
    grid-area: maincontent;
}
nav{
    grid-area: navbar;
}
aside{
    grid-area: rightsidebar;
}
footer{
    grid-area: footer;
}
@media(max-width: 500px) {
    body{
        grid-template-areas:
        "header"
        "navbar"
        "maincontent"
        "rightsidebar"
        "footer"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 70px 70px 1fr 40px 60px;
    }
}